.page-numbers{
    border: 1px solid deeppink;
    margin-left: 10px;
    display: inline;
    cursor: pointer;
}

.jedi-content__jedilist>section{
    border: 1px solid deeppink;
    padding: 20px 10px;
    cursor: pointer;
}